In [ ]:
# !pip install backtrader# 
# !pip install pyarrow

In [ ]:
from datetime import datetime

In [ ]:
import os
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from functools import reduce

## feather data import

In [59]:
feather_file_path = Path(os.getcwd()).parent/'data'/'binance'/'BTC_USDT-1h.feather'
df = pd.read_feather(feather_file_path)
# df

### daily fluctuation analyse

In [60]:
df['date'] = pd.to_datetime(df['date'])

df['candle_fluctuation'] = df['high'] - df['close']
# daily_fluctuation = df.set_index('timestamp').groupby(pd.Grouper(freq='D'))['candle_fluctuation'].max()
df['daily_fluctuation'] = df.groupby(df['date'].dt.date)['candle_fluctuation'].transform('max')
df['previous_daily_fluctuation'] = df['daily_fluctuation'].shift(24)

df.dropna(subset=['previous_daily_fluctuation'], 
        inplace=True)

In [68]:
df.head(25)
# df.tail(24)

,date,open,high,low,close,volume,timestamp,candle_fluctuation,daily_fluctuation,previous_daily_fluctuation
24,2019-01-02 00:00:00+00:00,3796.45,3810.00,3763.75,3778.02,2094.025159,2019-01-02 00:00:00+00:00,31.98,40.83,41.01
25,2019-01-02 01:00:00+00:00,3778.62,3792.00,3765.75,3770.00,912.811113,2019-01-02 01:00:00+00:00,22.00,40.83,41.01
26,2019-01-02 02:00:00+00:00,3769.98,3785.10,3768.00,3783.28,719.302757,2019-01-02 02:00:00+00:00,1.82,40.83,41.01
27,2019-01-02 03:00:00+00:00,3783.28,3796.22,3773.79,3779.98,770.368067,2019-01-02 03:00:00+00:00,16.24,40.83,41.01
28,2019-01-02 04:00:00+00:00,3780.00,3788.31,3765.00,3776.41,748.260209,2019-01-02 04:00:00+00:00,11.90,40.83,41.01
29,2019-01-02 05:00:00+00:00,3776.16,3778.42,3768.00,3773.04,415.849513,2019-01-02 05:00:00+00:00,5.38,40.83,41.01
30,2019-01-02 06:00:00+00:00,3773.04,3775.00,3750.45,3758.53,916.986058,2019-01-02 06:00:00+00:00,16.47,40.83,41.01
31,2019-01-02 07:00:00+00:00,3758.53,3778.54,3755.40,3771.08,1338.794740,2019-01-02 07:00:00+00:00,7.46,40.83,41.01
32,2019-01-02 08:00:00+00:00,3772.64,3800.00,3770.09,3781.35,2216.579225,2019-01-02 08:00:00+00:00,18.65,40.83,41.01
33,2019-01-02 09:00:00+00:00,3780.81,3786.24,3770.00,3775.00,1483.627847,2019-01-02 09:00:00+00:00,11.24,40.83,41.01
34,2019-01-02 10:00:00+00:00,3773.84,3794.40,3770.03,3788.00,1117.136593,2019-01-02 10:00:00+00:00,6.40,40.83,41.01
35,2019-01-02 11:00:00+00:00,3788.22,3803.68,3777.82,3787.97,1395.941655,2019-01-02 11:00:00+00:00,15.71,40.83,41.01
36,2019-01-02 12:00:00+00:00,3788.81,3793.72,3778.23,3792.51,1179.766158,2019-01-02 12:00:00+00:00,1.21,40.83,41.01
37,2019-01-02 13:00:00+00:00,3793.12,3839.63,3790.82,3825.65,2589.868431,2019-01-02 13:00:00+00:00,13.98,40.83,41.01
38,2019-01-02 14:00:00+00:00,3825.19,3834.26,3796.51,3811.24,2325.654093,2019-01-02 14:00:00+00:00,23.02,40.83,41.01
39,2019-01-02 15:00:00+00:00,3812.17,3815.00,3785.75,3801.28,1359.581327,2019-01-02 15:00:00+00:00,13.72,40.83,41.01
40,2019-01-02 16:00:00+00:00,3802.61,3865.72,3795.00,3824.89,2696.187308,2019-01-02 16:00:00+00:00,40.83,40.83,41.01
41,2019-01-02 17:00:00+00:00,3824.89,3845.78,3811.01,3822.60,2166.328561,2019-01-02 17:00:00+00:00,23.18,40.83,41.01
42,2019-01-02 18:00:00+00:00,3822.62,3833.00,3807.00,3828.87,1203.590309,2019-01-02 18:00:00+00:00,4.13,40.83,41.01
43,2019-01-02 19:00:00+00:00,3827.22,3830.19,3801.14,3824.98,921.475994,2019-01-02 19:00:00+00:00,5.21,40.83,41.01
44,2019-01-02 20:00:00+00:00,3824.98,3854.35,3812.34,3849.00,1189.427606,2019-01-02 20:00:00+00:00,5.35,40.83,41.01
45,2019-01-02 21:00:00+00:00,3849.27,3876.00,3830.06,3856.68,1770.790639,2019-01-02 21:00:00+00:00,19.32,40.83,41.01
46,2019-01-02 22:00:00+00:00,3857.36,3876.00,3842.46,3862.12,1464.303496,2019-01-02 22:00:00+00:00,13.88,40.83,41.01
47,2019-01-02 23:00:00+00:00,3861.62,3882.14,3851.00,3858.56,2159.806511,2019-01-02 23:00:00+00:00,23.58,40.83,41.01
48,2019-01-03 00:00:00+00:00,3857.57,3862.74,3828.70,3830.78,1754.761595,2019-01-03 00:00:00+00:00,31.96,69.75,40.83

### weekday fluctuation hist

In [ ]:
df['weekday_number'] = df['date'].dt.weekday
# df['range'] = df['high'] - df['low']
df['price_move'] = df['close'] - df['open']
df["class"] = (df["close"]>df["open"]).astype(int)

In [ ]:
def show_hist(df, wn=0):
    day_name_map = {0:"Monday", 1:"Tuesday", 2:"Wednesday", 3:"Thursday", 4:"Friday", 5:"Saturday", 6:"Sunday"}
    conditions = [
    df['weekday_number']==wn,
    df['price_move']<600,
    df['price_move']>-600,
    ]
    plt.hist(
        df[reduce(lambda x, y: x & y, conditions)]['price_move'], 
        color='g', alpha=0.7, density=True)
    plt.title(day_name_map[wn])
    plt.show

In [ ]:
show_hist(df, 0)

In [ ]:
show_hist(df, 1)

In [ ]:
show_hist(df, 2)

In [ ]:
show_hist(df, 3)

In [ ]:
show_hist(df, 4)

In [ ]:
show_hist(df, 5)

In [ ]:
show_hist(df, 6)